STAGE0COL.bmp filter=lfs diff=lfs merge=lfs -text
STAGE1.bmp filter=lfs diff=lfs merge=lfs -text
STAGE1COL.bmp filter=lfs diff=lfs merge=lfs -text
STAGE2.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3L1.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3L2.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3L3.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3L4.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3R1.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3R2.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3R3.bmp filter=lfs diff=lfs merge=lfs -text
STAGE3R4.bmp filter=lfs diff=lfs merge=lfs -text
STAGEFINAL.bmp filter=lfs diff=lfs merge=lfs -text
